
body {
  background-image: url('../img/main-bg.jpg');
  background-repeat: no-repeat;
  background-size: cover;
  overflow-x: hidden;
  height: 100vh;
}

.navbar {
  position: fixed;
  display: flex;
  flex-direction: row;
  height: 100%;
}

.button-container {
  padding: 1rem;
  border-right: 1px solid transparent;
  background-color: dimgray;
  z-index: 100;
}

.nav-button {
  width: 2rem;
  fill: red;
  cursor: pointer;
}

.navbar-hidden {
  font-size: larger;
  padding: 1rem;
  position: relative;
  background-color: dimgray;
  width: 15rem;
  height: 100%;
  border-left: 1px solid ;
  display: flex;
  flex-direction: column;
  gap: 2rem;
}

.navbar-hidden > a {
  text-decoration: none;
  color: red;
}

.navbar-hidden > a:hover {
  text-decoration: underline;

}

.logo {
  width: 10rem;
}

.turned-off {
  left: -15rem;
}

.turn-on {
  animation: on 1s 1;
  left: 0;
}

@keyframes on {
  0% {
    left: -15rem;
  }
  100% {
    left: 0;
  }
}

.turn-off {
  animation: off 1s 1;
  left: -15rem;
}

@keyframes off {
  from {
    left: 0;
  }
  to {
    left: -15rem;
  }
}





.hint {
  color: darkgreen;
  text-align: center;
}

:root{
  --rotate-A: 0deg;
  --rotate-B: 0deg;  
  --rotate-C: 0deg;
  --rotate-D: 0deg;
  --rotate-E: 0deg;
  --translate: 50%;
  --z-index-A: 20;
  --z-index-B: 15;  
  --z-index-C: 10;
  --z-index-D: 5;
  --z-index-E: 1;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.book-container {
  min-height: 90vh;
  width: 100vw;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: hidden;
}

.book {
  position: relative;
  width: min(100vw, 1000px);
  height: min(60vw, 700px);
  perspective: min(300vw, 3000px);
}

.page-container{
  position: absolute;
  height: inherit;
  width: min(50vw, 500px);
  cursor: pointer;
  transition: .5s transform ease-in-out;
  transform-style: preserve-3d;
  transform-origin: left;  
}

.page-A{
  transform: translate(var(--translate)) rotateY(var(--rotate-A));
  z-index: var(--z-index-A);
}

.page-B{  
  transform: translate(var(--translate)) rotateY(var(--rotate-B));
  z-index: var(--z-index-B);
}

.page-C{  
  transform: translate(var(--translate)) rotateY(var(--rotate-C));
  z-index: var(--z-index-C);
}

.page-D{  
  transform: translate(var(--translate)) rotateY(var(--rotate-D));
  z-index: var(--z-index-D);
}

.page-E{  
  transform: translate(var(--translate)) rotateY(var(--rotate-E));
  z-index: var(--z-index-E);
}

.page{
  position: absolute;
  backface-visibility: hidden;
  height: inherit;
  width: inherit;
}

.back{
  transform: rotateY(180deg);
}

.adaptive {
  display: none;
}

@media (max-width:1200px) {

  .book-container {
    display: none;
  }

  .adaptive {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
  }
  
  .adaptive-img {
    margin-left: 4rem;
    width: 100%;
    height: 100vh;
  }
}